@import "tailwindcss";

@theme{
    --font-poppins: Poppins, sans-serif;
    --animate-typinghead: typehead 1.5s ease-in-out forwards, cursorright 1s step-start 2s forwards;
    --animate-typingquote: typequote 1.5s ease-in-out forwards, cursorleft 1s step-start 2s forwards;
    --animate-flipping: flip 3s linear alternate infinite;
    --animate-smoothingup: smoothup 1.5s ease-in-out forwards;
    --animate-timingout: timeout 5s linear;
}

@keyframes typehead{
    from{
        width: 0;
    }
    to{
        width: 12.5ch;
    }
}

@keyframes typequote{
    from{
        width: 0;
    }
    to{
        width: 26ch;
    }
}

@keyframes cursorright{
    0%, 100%{
        border-right-color: transparent;
    }
    50%{
        border-right-color: #F97316;
    }
}

@keyframes cursorleft{
    0%, 100%{
        border-left-color: transparent;
    }
    50%{
        border-left-color: #F97316;
    }
}

@keyframes timeout{
    from{
        width: 100%;
    }
    to{
        width: 0%;
    }
}

@keyframes flip{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

@keyframes smoothup{
    from {
        transform: translateY(20%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@layer components{
    .forecastNavigation{
        @apply bg-slate-700 rounded-full h-[100%] p-2 transition-transform hover:scale-105 active:scale-95 cursor-pointer;
    }
    .button{
        @apply bg-orange-500 text-white rounded-lg text-lg font-poppins tracking-wider text-center transition-transform hover:scale-102 active:scale-98 cursor-pointer md:text-base;
    }
}